SOLANA_CLUSTER=devnet
SOLANA_RPC_URL=
BUYER_KEYPAIR_PATH=
EXECUTOR_KEYPAIR_PATH=
PAYER_KEYPAIR_PATH=
ESCROW_PROGRAM_ID=
TEST_USDC_MINT=
RISC0_GROTH16_VERIFIER_PROGRAM_ID=
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_ESCROW_PROGRAM_ID=
NEXT_PUBLIC_TEST_USDC_MINT=
